@mixin flex-positioning-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  @mixin big-header-font {
    font-family: $primary-font;
    font-size: 40px;
    color: black;
    letter-spacing: 2px;
  }
  
  $primary-font: 'Oswald', sans serif;
  $secondary-font: 'Roboto Condensed', sans serif;

//make globals - and put these mixins and variables and a button style as well. 


.page {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.job-container {
    // margin-top: 20px;
    margin-left: 30px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    // border: solid 1px black;
}
.title-bar-add-job {
    height: 80px;
    width: 600px;
    display: flex;
    // border: solid 1px black;
    @include flex-positioning-evenly;
    flex-direction: row;
    justify-content: space-between;
    @include big-header-font;
    
}
   

.btn {
    background-color: white;
    color: black;
    border: solid 1px black;
    font-family: $primary-font;
    font-size: 16px;
    margin-left: 20px;
    letter-spacing: 1px;
}

.details-container {
    height: 500px;
    width: 600px;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: auto;
    resize: none;
}

.detail-item {
    height: 18px;
    width: 600px;
    display: flex;
    // flex-direction: row;
}

.item {
    font-family: $primary-font;
    font-size: 16px;
    width: 150px;

}

.value {
    width: 450px;
    border: none;
    border-bottom: 1px solid black;
    font-family: $secondary-font;
    font-size: 15px;
}

// Why isn't this affecting the description and notes?
.description .notes {
    height: 40px;
    width: 550px;
    overflow: auto;
    font-size: 12px;
    font-family: $secondary-font;
    border: 1px solid black;

}


.status-dropdown-container {
    height: 100px;
    width: 550px;
    color: rgb(53, 53, 53);
    font-family: $secondary-font;
}