@mixin flex-positioning-evenly {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
@mixin big-header-font {
    font-family: $primary-font;
    font-size: 40px;
    color: black;
    letter-spacing: 2px;
}
$primary-font: 'Oswald', sans serif;
$secondary-font: 'Roboto Condensed', sans serif;

.dash-page {
    height: 85vh;
    width: 100vw;
    background-color: white;
    @include flex-positioning-evenly;
    align-items: flex-start;
    // display: flex;
    // justify-content: space-evenly;
}

.big-list-container {
    margin-top: 20px;
    width: 700px;
    height: 600px;
    // border: solid 1px black;

}

.title-bar-jobs {
    height: 80px;
    width: 700px;
    // border: solid 1px black;
    @include flex-positioning-evenly;
    @include big-header-font();
    justify-content: space-between;
    font-family: $primary-font;
}

.dashboard-job-title {
    @include flex-positioning-evenly;
    justify-content: space-between;
    width: 300px;
    font-size: 40px;
}

.status-title{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
    font-size: 35px;
    // font-family: $secondary-font;
    letter-spacing: 2px;
    // margin-left: 70px;
}

.select-line-box {
    height: 80px;
    width: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.line-box {
    height: 60px;
    width: 20px;
    border: 1px black solid;
    border-left: none;
    display: flex;
    // margin-top: 5px;
    align-items: center;
}

.line-container {
    height: 80px;
    width: 330px;
    // @include flex-positioning-evenly();
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
}

.box-line-up {
    display: flex;
    height: 40px;
    width: 330px;
    border-bottom: 1px black solid;
}

.box-line-down {
    display: flex;
    height: 40px;
    width: 330px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.btn {
    background-color: white;
    color: black;
    border: solid 1px black;
    font-family: $primary-font;
    font-size: 16px;
    margin-left: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
// .add-btn {
//     display: flex;
//     justify-content: flex-end;
// }

.map-list-container {
    height: 500px;
    width: 700px;
    // border: solid 1px black;
}

.job-map-box {
    width: 700px;
    height: 50px;
    border-bottom: black solid 1px;
    display: flex;
    align-items: center;
    flex-direction: row;
    // padding: 2px;
}

.job-company-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
    margin-right: 10px;
    // padding: 5px;
}

.job-title {
    width: 510px;
    font-family: $primary-font;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 1px lightgray;
}

.company-name {
    width: 510px;
    font-family: $secondary-font;
    font-size: 14px;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
}

.display-none {
    display: hidden;
}