@mixin flex-positioning-evenly {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
@mixin big-header-font {
    font-family: $primary-font;
    font-size: 40px;
    color: black;
    letter-spacing: 2px;
}
$primary-font: 'Oswald', sans serif;
$secondary-font: 'Roboto Condensed', sans serif;

.dash-page {
    height: 100vh;
    width: 100vw;
    background-color: white;
    @include flex-positioning-evenly;
    align-items: flex-start;
    // display: flex;
    // justify-content: space-evenly;
}

.big-list-container {
    margin-top: 20px;
    width: 700px;
    height: 600px;
    // border: solid 1px black;

}
// .line-between {
//     margin-top: 20px;
//     height: 600px;
//     width: 5px;
//     background-color: lightgray;
// }
.title-bar-jobs {
    height: 80px;
    width: 700px;
    // border: solid 1px black;
    @include flex-positioning-evenly;
    @include big-header-font();
    justify-content: space-between;
    font-family: $primary-font;
    
}

.title {
    @include flex-positioning-evenly;
    justify-content: space-between;
    width: 200px;
}
// .title-right {
//     font-size: 36px;
//     width: 210px;
//     letter-spacing: 2px;
// }
.status {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    font-size: 32px;
    // font-family: $secondary-font;
    letter-spacing: 2px;
    margin-left: 70px;

}
.select-line-box {
    height: 80px;
    width: 420px;
}
.line-box {
    height: 80px;
    width: 20px;
    border: 1px black solid;

}
.line-container {
    transform: scaleX(-1);
    height: 80px;
    width: 400px;
    @include flex-positioning-evenly();
    justify-content: center;
    flex-direction: column;
    // justify-content: flex-start;
    // display: flex;
    // // justify-content: flex-end;
    // align-items: center;
    // border: black 1px solid;

}

.box-line-up {
    padding: 22px;
    height: 20px;
    width: 300px;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}
.box-line-down {
    height: 20px;
    width: 300px;
    border-right: 1px black solid;

}

// .arrow-container-right {
//     width: 80px;
// }
// .arrow {
//     height: 60px;
//     width: 150px;
//     margin-left: 30px;
// }
// .arrow-right {
//     width: 80px;
// }
.btn-container {
    display: flex;
    justify-content: flex-end;
}
.btn {
    background-color: white;
    color: black;
    border: solid 1px black;
    font-family: $primary-font;
    font-size: 16px;
    margin-left: 20px;
    letter-spacing: 1px;
  }
// .add-btn {
//     display: flex;
//     justify-content: flex-end;
// }

.map-list-container {
    height: 500px;
    width: 700px;
    border: solid 1px black;

}

.job-map-box {
    width: 700px;
    height: 30px;
    border-bottom: black solid 1px;
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.job-company-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.job-title {
    width: 600px;
    font-family: $primary-font;
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 1px lightgray;
}

.company-name {
    width: 600px;
    font-family: $secondary-font;
    font-size: 12px;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

