@mixin flex-positioning-evenly {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
@mixin big-header-font {
    font-family: $primary-font;
    font-size: 40px;
    color: black;
    letter-spacing: 2px;
}
$primary-font: 'Oswald', sans serif;
$secondary-font: 'Roboto Condensed', sans serif;

.status {
    width: 180px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: $primary-font;
    letter-spacing: 1px;
    font-weight: normal;
    text-decoration: none;
    
    &--researching{
        @extend .status;
        border: 3px solid rgb(224, 193, 17);
        color: rgb(224, 193, 17);
    }
    &--networking {
        @extend .status;
        border: 3px solid rgb(151, 118, 9);
        color: rgb(151, 118, 9);
    }
    &--applying {
        @extend .status;
        border: 3px solid rgb(218, 100, 21);
        color: rgb(218, 100, 21);
    }
    &--application-submitted {
        @extend .status;
        border: 3px solid rgb(74, 199, 248);
        color: black;
    }
    &--assessments {
        @extend .status;
        border: 3px solid rgb(2, 135, 139);
        color: rgb(2, 135, 139);
    }
    &--interviewing {
        @extend .status;
        border: 10px solid rgb(35, 66, 167);
        color: rgb(35, 66, 167);
    }
    &--thankyou {
        @extend .status;
        border: 3px solid rgb(81, 38, 121);
        color:  rgb(81, 38, 121);
    }
    &--waiting {
        @extend .status;
        border: 3px solid rgb(95, 94, 95);
        color:  rgb(95, 94, 95);
      
    
    }
    &--offer {
        @extend .status;
        border: 3px solid rgb(63, 241, 72);
        color:  rgb(63, 241, 72);
    }
    &--rejected {
        @extend .status;
        border: 3px solid rgb(194, 54, 19);
        color: rgb(194, 54, 19);
    }
    &--negotiating {
        @extend .status;
        border: 3px solid rgb(148, 50, 123);
        color: rgb(148, 50, 123);
    }
    &--accepted-offer {
        @extend .status;
        border: 3px solid rgb(25, 88, 50);
        color: rgb(25, 88, 50);
    }
    &--rejected-offer {
        @extend .status;
        border: 3px solid rgb(105, 52, 52);
        color:  rgb(105, 52, 52);
    }
}


