@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100&family=Oswald:wght@200;300;306;400&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*, *:before, *:after {
  box-sizing: border-box; }

*:focus {
  outline: none; }

button {
  outline: none; }

.dash-page {
  height: calc(100% - 105px);
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  align-items: flex-start; }

.big-list-container {
  margin-top: 40px;
  width: 700px;
  height: 600px; }

.title-bar-jobs {
  height: 80px;
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  font-family: "Oswald", sans serif;
  font-size: 40px;
  color: black;
  letter-spacing: 2px;
  justify-content: space-between;
  font-family: "Oswald", sans serif; }

.dashboard-job-title {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  font-size: 40px; }

.status-title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 200px;
  font-size: 35px;
  letter-spacing: 2px; }

.select-line-box {
  height: 80px;
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: center; }

.line-box {
  height: 60px;
  width: 20px;
  border: 1px black solid;
  border-left: none;
  display: flex;
  align-items: center; }

.line-container {
  height: 80px;
  width: 330px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end; }

.box-line-up {
  display: flex;
  height: 40px;
  width: 330px;
  border-bottom: 1px black solid; }

.box-line-down {
  display: flex;
  height: 40px;
  width: 330px; }

.btn-container {
  display: flex;
  justify-content: flex-end; }

.btn {
  background-color: white;
  color: black;
  border: solid 1px black;
  font-family: "Oswald", sans serif;
  font-size: 14px;
  margin-left: 20px;
  letter-spacing: 1px;
  margin-bottom: 10px; }

.map-list-container {
  height: 500px;
  width: 730px;
  overflow: auto; }

.job-map-box {
  width: 700px;
  height: 50px;
  border-bottom: black solid 1px;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none; }
  .job-map-box a:link, .job-map-box a:visited, .job-map-box a:active {
    text-decoration: none;
    color: black; }
  .job-map-box a:hover {
    text-decoration: none;
    color: gray; }
  .job-map-box .job-map-box:link, .job-map-box .job-map-box:visited, .job-map-box .job-map-box:active {
    text-decoration: none;
    color: black; }
  .job-map-box .job-map-box:hover {
    text-decoration: none;
    color: gray; }

.job-company-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-decoration: none;
  margin-right: 10px; }

.job-title {
  width: 510px;
  font-family: "Oswald", sans serif;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid 1px lightgray;
  text-decoration: none;
  text-decoration-line: none; }
  .job-title p:link, .job-title p:visited, .job-title p:active {
    text-decoration: none;
    color: black; }
  .job-title p:hover {
    text-decoration: none;
    color: gray; }

.company-name {
  width: 510px;
  font-family: "Roboto Condensed", sans serif;
  font-size: 14px;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px; }

.display-none {
  display: hidden; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*, *:before, *:after {
  box-sizing: border-box; }

*:focus {
  outline: none; }

button {
  outline: none; }

.page-job {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  margin-top: 20px; }

.job-container-jobjs {
  margin-left: 30px;
  width: 600px;
  height: 750px;
  display: flex;
  flex-direction: column;
  margin-right: 50px; }

.title-bar-jobview {
  height: 60px;
  width: 600px;
  display: flex;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Oswald", sans serif;
  font-size: 40px;
  color: black;
  letter-spacing: 2px;
  margin-bottom: 40px; }

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.title-edit {
  height: 40px;
  width: 370px;
  border: none;
  border-bottom: 1px solid black;
  font-family: "Oswald", sans serif;
  font-size: 40px;
  letter-spacing: 2px; }

.edit-delete-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-items: flex-end;
  flex-direction: row; }

.details-container-jobview {
  height: 700px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.detail-item-jobview {
  height: 18px;
  width: 600px;
  display: flex;
  margin-bottom: 25px; }

.label {
  font-family: "Oswald", sans serif;
  font-size: 16px;
  width: 140px;
  color: black;
  display: flex; }

.value {
  width: 500px;
  border: none;
  border-bottom: 1px solid black;
  font-family: "Roboto Condensed", sans serif;
  letter-spacing: 1px;
  font-size: 15px;
  padding-left: 5px; }

.textarea-line-jobview {
  height: 100px;
  width: 600px;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px; }

.textarea-value {
  display: flex;
  width: 500px;
  height: 100px;
  overflow: auto;
  resize: none;
  font-family: "Roboto Condensed", sans serif;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 5px;
  border-bottom: 1px solid black; }

.textarea-value-edit {
  border: 1px solid black; }

.dropdown-container-jobview {
  height: 20px;
  width: 600px;
  font-family: "Roboto Condensed", sans serif;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px; }

.dropdown {
  display: flex;
  overflow: auto;
  height: 20px;
  width: 500px;
  font-family: "Roboto Condensed", sans serif;
  font-size: 15px; }

.options {
  height: 28px;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.detail-jobview-textarea {
  height: 100px;
  width: 600px;
  display: flex;
  align-items: center;
  margin-bottom: 25px; }

.status-container {
  width: 300px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.job-view-status-title {
  height: 60px;
  font-family: "Oswald", sans serif;
  font-size: 40px;
  color: black;
  letter-spacing: 2px;
  display: flex;
  align-items: flex-end;
  font-size: 35px;
  margin-bottom: 20px; }

.status-header {
  display: flex;
  align-items: flex-end; }

.list-w-bar {
  margin-top: 20px;
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.status-line {
  display: flex;
  height: 450px;
  width: 3px;
  background-color: lightgray;
  margin-left: 50px; }

.status-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
  .status-item-container .item {
    margin-left: 10px;
    display: flex;
    align-items: center;
    width: 250px;
    height: 30px;
    padding-left: 5px;
    border: none;
    color: black; }

.status-dash {
  display: flex;
  height: 3px;
  width: 35px;
  background-color: lightgray;
  margin-right: 5px; }

.status-list {
  font-family: "Oswald", sans serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 2px;
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between; }

.btn-jobview {
  background-color: white;
  color: black;
  border: solid 1px black;
  font-family: "Oswald", sans serif;
  font-size: 14px;
  margin-left: 20px;
  letter-spacing: 1px;
  display: flex;
  align-items: flex-end; }

.normal-text {
  font-family: "Roboto Condensed", sans serif;
  font-size: 14px;
  letter-spacing: 0px;
  color: black; }

.researching {
  padding: 5px;
  font-size: 16px;
  border: 3px solid #e0c111;
  color: #e0c111;
  color: black; }

.networking {
  padding: 5px;
  font-size: 16px;
  border: 3px solid #977609;
  color: #977609;
  color: black; }

.applying {
  padding: 5px;
  font-size: 16px;
  border: 3px solid #da6415;
  color: #da6415;
  color: black; }

.application-submitted {
  padding: 5px;
  font-size: 16px;
  border: 3px solid #4ac7f8;
  color: black; }

.assessments {
  padding: 5px;
  font-size: 16px;
  border: 3px solid #02878b;
  color: #02878b;
  color: black; }

.interviewing {
  padding: 5px;
  font-size: 16px;
  border: 3px solid #2342a7;
  color: #2342a7;
  color: black; }

.thankyou {
  padding: 5px;
  font-size: 16px;
  border: 3px solid #512679;
  color: #512679;
  color: black; }

.waiting {
  padding: 5px;
  font-size: 16px;
  border: 3px solid #5f5e5f;
  color: #5f5e5f;
  color: black; }

.offer {
  padding: 5px;
  font-size: 16px;
  border: 3px solid #3faf31;
  color: #3faf31;
  color: black; }

.rejected {
  padding: 5px;
  font-size: 16px;
  border: 3px solid #c23613;
  color: #c23613;
  color: black; }

.negotiating {
  padding: 5px;
  font-size: 16px;
  border: 3px solid #94327b;
  color: #94327b;
  color: black; }

.accepted-offer {
  padding: 5px;
  font-size: 16px;
  border: 3px solid #226e41;
  color: #226e41;
  color: black; }

.rejected-offer {
  padding: 5px;
  font-size: 16px;
  border: 3px solid #8a4242;
  color: #8a4242;
  color: black; }

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: none; }

.btn {
  background-color: white;
  color: black;
  border: solid 1px black;
  font-family: "Oswald", sans serif;
  font-size: 16px;
  margin-left: 20px;
  letter-spacing: 1px; }
