@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100&family=Oswald:wght@200;300;306;400&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*, *:before, *:after {
  box-sizing: border-box; }

*:focus {
  outline: none; }

button {
  outline: none; }

.dash-page {
  height: 85vh;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  align-items: flex-start; }

.big-list-container {
  margin-top: 20px;
  width: 700px;
  height: 600px; }

.title-bar-jobs {
  height: 80px;
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  font-family: "Oswald", sans serif;
  font-size: 40px;
  color: black;
  letter-spacing: 2px;
  justify-content: space-between;
  font-family: "Oswald", sans serif; }

.dashboard-job-title {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  font-size: 40px; }

.status-title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 200px;
  font-size: 35px;
  letter-spacing: 2px; }

.select-line-box {
  height: 80px;
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: center; }

.line-box {
  height: 60px;
  width: 20px;
  border: 1px black solid;
  border-left: none;
  display: flex;
  align-items: center; }

.line-container {
  height: 80px;
  width: 330px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end; }

.box-line-up {
  display: flex;
  height: 40px;
  width: 330px;
  border-bottom: 1px black solid; }

.box-line-down {
  display: flex;
  height: 40px;
  width: 330px; }

.btn-container {
  display: flex;
  justify-content: flex-end; }

.btn {
  background-color: white;
  color: black;
  border: solid 1px black;
  font-family: "Oswald", sans serif;
  font-size: 16px;
  margin-left: 20px;
  letter-spacing: 1px;
  margin-bottom: 10px; }

.map-list-container {
  height: 500px;
  width: 700px; }

.job-map-box {
  width: 700px;
  height: 50px;
  border-bottom: black solid 1px;
  display: flex;
  align-items: center;
  flex-direction: row; }

.job-company-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-decoration: none;
  margin-right: 10px; }

.job-title {
  width: 510px;
  font-family: "Oswald", sans serif;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid 1px lightgray; }

.company-name {
  width: 510px;
  font-family: "Roboto Condensed", sans serif;
  font-size: 14px;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px; }

.display-none {
  display: hidden; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*, *:before, *:after {
  box-sizing: border-box; }

*:focus {
  outline: none; }

button {
  outline: none; }

.page {
  display: flex;
  justify-content: space-around;
  height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-items: center; }

.job-container-jobjs {
  margin-left: 30px;
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.title-bar {
  height: 80px;
  width: 500px;
  display: flex;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Oswald", sans serif;
  font-size: 40px;
  color: black;
  letter-spacing: 2px; }

.status-container {
  margin-top: 20px;
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.job-view-status-title {
  height: 80px;
  font-family: "Oswald", sans serif;
  font-size: 40px;
  color: black;
  letter-spacing: 2px; }

.list-w-bar {
  height: 500px;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.status-line {
  display: flex;
  height: 500px;
  width: 4px;
  background-color: lightgray; }

.status-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
  .status-item-container .item {
    margin-left: 10px;
    display: flex;
    align-items: center;
    width: 250px;
    height: 30px;
    padding-left: 5px;
    border: none;
    color: black; }

.status-dash {
  display: flex;
  height: 4px;
  width: 15px;
  background-color: lightgray; }

.status-list {
  font-family: "Oswald", sans serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 2px;
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly; }

.btn {
  background-color: white;
  color: black;
  border: solid 1px black;
  font-family: "Oswald", sans serif;
  font-size: 16px;
  margin-left: 20px;
  letter-spacing: 1px; }

.researching {
  border: 3px solid #eece42;
  color: #eece42; }

.networking {
  border: 3px solid #cfa20c;
  color: #cfa20c; }

.applying {
  border: 3px solid #da6415;
  color: #da6415; }

.application-submitted {
  border: 3px solid #4ac7f8;
  color: black; }

.assessments {
  border: 3px solid #02878b;
  color: #02878b; }

.interviewing {
  border: 3px solid #2342a7;
  color: #2342a7; }

.thankyou {
  border: 3px solid #512679;
  color: #512679; }

.waiting {
  border: 3px solid #5f5e5f;
  color: #5f5e5f; }

.offer {
  border: 3px solid #3ff148;
  color: #3ff148; }

.rejected {
  border: 3px solid #c23613;
  color: #c23613; }

.negotiating {
  border: 3px solid #94327b;
  color: #94327b; }

.accepted-offer {
  border: 3px solid #195832;
  color: #195832; }

.rejected-offer {
  border: 3px solid #693434;
  color: #693434; }

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.btn {
  background-color: white;
  color: black;
  border: solid 1px black;
  font-family: "Oswald", sans serif;
  font-size: 16px;
  margin-left: 20px;
  letter-spacing: 1px; }
